body {
    font-family: 'Roboto', sans-serif;
}

#main-navbar {
    background-color: #21044F;
    border-bottom: 6px solid #B8ABFA;
}

i,
a {
    color: #F4F1F7;
}

i:hover,
a:hover {
    color: #B8ABFA;
    text-decoration: none;
}

#jumbotron-text {
    text-align: center;
    color: #F4F1F7;
    letter-spacing: 0.3em;
    font-size: 60px;
}

h1 {
    font-weight: bold;
}

.card-img {
    opacity: 30%;
}


#main-text {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 35px;
    color: #F4F1F7
}

.horizontal-line {
    border-top: 3px solid #B8ABFA;
    width: 20%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#repo-button,
#resume-button {
    background-color:#21044F;
    color: #F4F1F7;
    border-color: #B8ABFA;
    font-size: 20px;
}

.sticky-footer {
    text-align: center;
    background-color: #21044F;
    color: #F4F1F7;
    border-top: 6px solid #B8ABFA;
    height: 120px;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

.about-me,
.highlights,
.resume {
    background-color: #F4F1F7;
    color: #21044F;
    text-align: center;
}

.bio {
    font-size: 18px;
    margin-right: 20%;
    margin-left: 20%;
    padding-right: 15px;
    padding-left: 15px;

}

.skills {
    background-color: #21044F;
    color:#F4F1F7;
    text-align: center;
}

.icon-html5, 
.icon-css3-alt,
.icon-javascript-alt,
.icon-nodejs {
  color: #B8ABFA;
}

.project-list {
    padding-bottom: 30px;
    padding-right: 15px;
    padding-right: 15px;
    margin-right: 10%;
    margin-left: 10%;

}

.caption {
    color: #F4F1F7;
    background-color: #21044F;
    padding: 10px;
}

h5 {
    color: #B8ABFA;
}

img {
    padding: 1px;
    border: 1px solid #B8ABFA;
}

.fa-angle-left {
    color: #21044F;
}

.fa-angle-right {
    color: #21044F;
}



@media (min-width: 0px) and (max-width: 711px) {
    #jumbotron-text {
        font-size: 35px;
        font-weight: bold;
    }
}

@media (min-width: 0px) and (max-width: 711px) {
    #main-text {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (min-width: 0px) and (max-width: 711px) {
    .bio{
        margin-right: 5%;
        margin-left: 5%;
    }
}


@media (min-width: 0px) and (max-width: 715px) {
    .project-list {
        width: auto;
    }
    .caption {
        font-size: 10px;
        height: auto;
        width: auto;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    .project-list {
        width: auto;
    }
    .caption {
        font-size: 5px;
        height: auto;
        width: auto;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    .carousel-caption {
        padding-bottom: 0px;
    }
}
